$primary-color: linear-gradient(165deg, rgb(245, 245, 245) 0%, rgba(58, 8, 24, 0.918) 22%);
$secondary-color: rgb(89, 213, 218);
$tertiary-color: rgb(65, 71, 75);

$primary-font-color: rgb(255, 255, 255);
$secondary-font-color: rgba(255, 255, 255, .9);

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;
$tertiary-font: 'Alegreya Sans', sans-serif;
